## Q1. What is a database? Differentiate between SQL and NoSQL databases.

## Ans ==
A database is a structured collection of data that is organized in a way that allows easy access, retrieval, and manipulation of information. It is a software system that manages, stores, and retrieves data from a computer or other electronic devices.

SQL (Structured Query Language) databases are traditional relational databases that are based on a table structure, which means that data is organized into tables with defined columns and rows. SQL databases use a set of predefined schemas to define how data is stored, and use SQL to interact with the data. SQL databases are widely used for their ability to handle complex queries and transactions and are ideal for applications where data consistency and integrity are crucial.

NoSQL databases, on the other hand, are non-relational databases that are designed to handle large volumes of unstructured or semi-structured data, such as social media data, sensor data, or logs. NoSQL databases are based on a document, key-value, graph, or column-family data model, and offer flexible data structures that can be easily adapted to different data types. NoSQL databases typically offer better scalability, performance, and availability than SQL databases, but may sacrifice some of the features and functionalities of SQL databases such as strong consistency, transaction support, and complex querying capabilities.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

## ANS == 
DDL stands for Data Definition Language, which is a set of SQL commands used to define and modify the structure of database objects such as tables, indexes, and views. These commands are used to create, drop, alter, and truncate database objects.

In [ ]:
## 1. CREATE: This command is used to create a new table in the database. The syntax for creating a table is as follows:

CREATE TABLE table_name (
   column1 datatype constraint,
   column2 datatype constraint,
   
);

In [ ]:
CREATE TABLE employees(
    id int PRIMARY KEY,
    name ayush(341) NOT NULL,
    salary decimal(30, 2 ) DEFAULT 0.00
);

In [ ]:
## 2. DROP: This command is used to delete a table or other database object from the database. The syntax for dropping a table is:
DROP TABLE table_name;

## For example, to delete the "employees" table, the SQL command would be:
DROP TABLE employees;

In [ ]:
## 3. ALTER: This command is used to modify the structure of an existing table, such as adding or removing columns or changing the data type of a column. The syntax for altering a table is:
ALTER TABLE table_name
   ADD column_name datatype constraint;
    
## For example, to add a column for email address to the "employees" table, the SQL command would be:
ALTER TABLE employees
   ADD email varchar(255);

In [ ]:
## 4. TRUNCATE: This command is used to delete all the data from a table without deleting the table structure itself. The syntax for truncating a table is:
TRUNCATE TABLE table_name;
## For example, to delete all the data from the "employees" table, the SQL command would be:
TRUNCATE TABLE employees;

## Q3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.

## ANS == 
DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate data stored in a relational database. DML commands are used to insert new data into a database, update existing data, and delete data from a database.

## Here are some examples of each DML command:

In [ ]:
# 1. INSERT: The INSERT command is used to insert new data into a table.

INSERT INTO students (id, name, age) VALUES (1, 'Ayush', 20);

In [ ]:
# 2. UPDATE: The UPDATE command is used to modify existing data in a table.

UPDATE students SET age = 21 WHERE id = 1;

In [ ]:
# 3. DELETE: The DELETE command is used to delete data from a table 

DELETE FROM students WHERE id = 1;

## Q4. What is DQL? Explain SELECT with an example.

## ANS ==
DQL stands for Data Query Language, which is a type of SQL used to retrieve data from a database. It is used to fetch and extract data from tables in a database.

SELECT is one of the most commonly used DQL commands in SQL. It is used to retrieve data from a database table. The SELECT command can be used to select specific columns or all columns from a table, and can also filter the results based on certain conditions.

Here is an example of a SELECT query:

Suppose we have a table called "customers" with the following columns:

customer_id
first_name
last_name
email
phone
To retrieve all the data from this table, we can use the following SELECT query:

In [ ]:
SELECT * FROM customers;

In [ ]:
SELECT first_name, last_name FROM customers;

In [ ]:
SELECT * FROM customers WHERE email LIKE '@example.com' ;

## Q5. Explain Primary Key and Foreign Key.

## ANS  ==
A primary key is a column or a set of columns that uniquely identifies each row in a table. It is used to ensure the integrity of the data and to enforce data consistency. A primary key cannot have NULL values and must be unique for each row. A table can have only one primary key.

For example, consider a table called "students" with the following columns:

student_id (primary key)
first_name
last_name
email
phone
In this table, the student_id column is the primary key. It ensures that each row in the table has a unique identifier.

A foreign key is a column or a set of columns that refers to the primary key of another table. It is used to establish relationships between tables and to enforce referential integrity. A foreign key can have NULL values, which means that the relationship is optional. However, if a foreign key value exists, it must match a primary key value in the referenced table.

For example, consider a table called "enrollments" with the following columns:

enrollment_id (primary key)
student_id (foreign key)
course_id (foreign key)
enrollment_date
In this table, the student_id column is a foreign key that refers to the primary key of the "students" table. It establishes a relationship between the "enrollments" table and the "students" table.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)


mycursor = mydb.cursor()


mycursor.execute("SELECT * FROM yourtable")


myresult = mycursor.fetchall()


for x in myresult:
  print(x)

Explanation of cursor() and execute():

In the above code, we first establish a connection to the MySQL server using the connect() method of the mysql.connector module. We pass in the host, username, password, and database name to establish the connection.

Next, we create a cursor object using the cursor() method of the connection object. The cursor object allows us to execute SQL queries on the database.

We then use the execute() method of the cursor object to execute a SQL query. In this case, we are selecting all rows from a table.

After executing the query, we use the fetchall() method of the cursor object to fetch all the rows returned by the query.

Finally, we iterate over the result set and print each row.

## Q7. Give the order of execution of SQL clauses in an SQL query.

## ANS ==
The order of execution of clauses in an SQL query is as follows:

1. FROM: This clause specifies the table(s) from which the data will be retrieved.

2. JOIN: This clause is used to join multiple tables based on a common column or columns.

3. WHERE: This clause filters the rows returned by the query based on a specified condition.

4. GROUP BY: This clause groups the rows returned by the query based on one or more columns.

5. HAVING: This clause filters the grouped rows based on a specified condition.

6. SELECT: This clause selects the columns that will be returned by the query.

7. DISTINCT: This clause removes duplicate rows from the result set.

8. ORDER BY: This clause sorts the rows returned by the query based on one or more columns.

9. LIMIT: This clause limits the number of rows returned by the query.