## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd 

data = [4,8,15,16,23,42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
import pandas as pd
my_list = [1,2,3,4,5,6,7,8,9,10]

my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
import pandas as pd

data = {
    'Name' : ['Alice','Bob','Claire'],
    'Age': [25,30,27],
    'Gender' : ['Female', 'Male', 'Female']
}

df =  pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

## ANS ==
In pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It can be thought of as a table with rows and columns, similar to a spreadsheet or a SQL table. A DataFrame can be created from various data sources like CSV files, SQL databases, and Excel sheets.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating-point numbers, Python objects, etc.). A Series can be created from a Python list, dictionary, or ndarray.

The primary difference between a DataFrame and a Series is that a Series has only one column, while a DataFrame can have multiple columns. In other words, a DataFrame is a collection of Series objects, where each Series represents a column in the DataFrame.


Here's an example that demonstrates the difference between a DataFrame and a Series:

In [9]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'], 
        'Age': [25, 30, 27], 
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

age_series = df['Age']

print('DataFrame:')
print(df)
print('Type of df:', type(df))

print('Series:')
print(age_series)
print('Type of age_series:', type(age_series))

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
Type of df: <class 'pandas.core.frame.DataFrame'>
Series:
0    25
1    30
2    27
Name: Age, dtype: int64
Type of age_series: <class 'pandas.core.series.Series'>

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

## ANS ==
Pandas is a popular library in Python used for data manipulation and analysis. It provides several functions to manipulate data in a DataFrame. Here are some common functions we can use:

1. drop(): This function is used to drop columns or rows from a DataFrame. For example, if you have a DataFrame with a column you no longer need, you can use the drop() function to remove it.

2. groupby(): This function is used to group data based on some criteria. For example, if you have a DataFrame with sales data, you can use the groupby() function to group the data by product, region, or any other criteria.

3. merge(): This function is used to combine two or more DataFrames into one. For example, if you have sales data in one DataFrame and customer data in another DataFrame, you can use the merge() function to combine the data based on a common column.

4. fillna(): This function is used to fill missing values in a DataFrame with a specified value. For example, if you have a DataFrame with missing values, you can use the fillna() function to replace the missing values with the mean or median of the column.

5. apply(): This function is used to apply a function to each row or column of a DataFrame. For example, if you have a DataFrame with sales data, you can use the apply() function to calculate the total sales for each row.

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

## ANS == 
In Pandas, the Series and DataFrame are mutable in nature, meaning that their values can be changed after they are created. On the other hand, the Panel is immutable, meaning that its values cannot be changed after it is created.

To modify a Series or DataFrame, you can use various methods such as loc, iloc, and at to access and modify their values. For example, to change the value of a specific element in a DataFrame, you can use the loc method to locate the element

## Q7. Create a DataFrame using multiple Series. Explain with an example.

## ANS ==
In pandas, a DataFrame is a two-dimensional tabular data structure consisting of rows and columns. One way to create a DataFrame is by using multiple Series.

A Series is a one-dimensional labeled array in pandas that can hold data of any type. Multiple Series can be combined into a DataFrame to create a table-like structure.

Here is an example of how to create a DataFrame using multiple Series:

In [10]:
import pandas as pd

series1 = pd.Series([1, 2, 3])
series2 = pd.Series(['a', 'b', 'c'])
series3 = pd.Series([True, False, True])

df = pd.DataFrame({'col1': series1, 'col2': series2, 'col3': series3})

print(df)

   col1 col2   col3
0     1    a   True
1     2    b  False
2     3    c   True